@model IEnumerable<Vamos_Brincar.Models.SugestoesProp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_sug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_crianca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_inst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sug)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_sug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_crianca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_inst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sug)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_sug  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
